* {
    box-sizing: border-box;
}
body {
    background:lightblue;
    height: 100%;    
}
.wrapper {
    background: linear-gradient(to right, black 0%, blue 100%);
    position: absolute;
    height: 50vh;
    width:70%;
    background-color: aliceblue;
    left:15%;
    top: 30px;
    box-shadow:  -20px 20px 15px 0px darkred;
    border-radius: 10px;
    
}

.wrapper div {
    width:100px;
    height: 100px;
    text-align:center;
    border: 1px solid white;
     border-radius: 3px;
     box-shadow:  -10px 12px 7px 0px black;
    }

.red {
    background: rgb(230, 99, 99);
    position: absolute;
    right: calc(50% - 30px);
}
.green {
    background: rgb(81, 194, 81);
    position: absolute;
    right: calc(50% - 40px);
    top:100px;
}
.blue {
    background: rgb(120, 120, 230);
    position: absolute;
    right: calc(50% - 50px);
    top: 190px;
}

.wrapper .blue .yellow {
    background: yellowgreen;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: calc(50% - (25px/2));
    right: calc(50% - (25px/2)); ;
    
}
